{erl_opts, [debug_info]}.
{deps, [
  {libtailscale, {git_subdir, "https://github.com/Munksgaard/libtailscale.git", {branch, "elixir"}, "elixir"}}
]}.
{plugins, [rebar_mix]}.
{provider_hooks, [{post, [{compile, {mix, consolidate_protocols}}]}]}.
{overlay, [{copy, "{{base_dir}}/consolidated", "releases/{{release_version}}/consolidated"}]}.
